:root {
  --page-size: 1300px;
  --page-padding: 3rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 var(--page-padding);
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav ul {
  width: 100%;
  max-width: var(--page-size);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  height: 3rem;
  display: flex;
  align-items: center;
}

.nav a:visited {
  color: white;
}

.nav a:link {
  color: white;
}

.nav a:hover {
  color: rgb(165, 193, 255);
}

.active {
  background-color: grey;
}

.nav-checkout {
  margin-left: auto;
}

.cart-icon {
  position: relative;
  padding-top: 5px;
  padding-right: 10px;
}

.cart-icon img {
  width: 35px;
  height: 35px;
}

.cart-icon-qty {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 2ch;
  height: 2ch;
  border-radius: 50%;
  font-size: 1rem;
  padding: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

.page-container {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  max-width: var(--page-size);
}

.error-page {
  flex-direction: column;
  padding: var(--page-padding);
}

.error-page h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 30px;
}

.product-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: 250px;
  display: flex;
  gap: 15px;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-radius: 20px;
  border: 3px solid rgba(0,0,0,0.3);
}

.product-card button:hover {
  cursor: pointer;
}

.product-card img {
  max-height: 200px;
  max-width: 100%;
}

.product-card h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.product-card textarea {
  resize: none;
  width: 100%;
  height: 7rem;
  border: none;
  user-select: none;
  font-family: inherit;
  font-size: 0.9rem;
  line-height: 1.1rem;
  letter-spacing: 2px;
  background-color: white;
}

.product-area {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.product-quantity {
  display: flex;
  gap: 10px;
}

.product-quantity input {
  width: 80px;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
}

.product-quantity button {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2rem;
  background-color: white;
}

.product-quantity button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.product-add-btn {
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 12px;
  border: 1px solid black;
  background-color: white;
}

.product-add-btn:hover {
  background-color: black;
  color: white;
}

.checkout-page {
  flex-direction: column;
  align-items: center;
  padding: 0 var(--page-padding);
}

.checkout-page h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.checkout-page table {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.checkout-page th {
  font-weight: bold;
}

.checkout-page td,
.checkout-page th {
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.checkout-page td {
  height: 100px;
  vertical-align: middle;
}

.checkout-page table img {
  max-height: 100px;
  max-width: 100px;
}

.checkout-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.checkout-quantity {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.checkout-quantity button {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  background-color: white;
  font-size: 1.1rem;
}

.checkout-quantity button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.checkout-delete-btn {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  background-color: white;
  font-weight: bold;
}

.checkout-delete-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.checkout-totals {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 5px;
  margin-left: auto;
  margin-top: 1rem;
  margin-bottom: 40px;
}

.checkout-totals hr {
  width: 100%;
}

.checkout-totals div {
  display: flex;
  justify-content: space-between;
}

.checkout-totals span:first-child {
  font-weight: bold;
}

.checkout-grandtotal {
  font-size: 1.4rem;
}

.about-page {
  flex-wrap: wrap;
  padding: var(--page-padding);
  gap: 20px;
}

.about-card {
  position: relative;
  display: flex;
  border: 1px solid black;
  width: 300px;
  min-width: 45%;
  padding: 1rem;
  padding-top: 330px;
  border-radius: 15px;
  box-sizing: border-box;
}

.about-card h2 {
  font-size: 1.4rem;
  font-weight: bold;
}

.about-card-title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 10px;
}

.about-card-preview {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
}

.about-card-icon {
  height: 50px;
}

.about-card li {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.about-card li::before {
  content: "";
  background-image: url("/bullet.svg");
  background-size: contain;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 5px;
}